<nav class="navbar">
  <div class="logo">
    <h1>Daniel</h1>
    <small>Peluquería de Caballeros</small>
  </div>
  
  <div class="menu-container">
    <a href="#inicio" 
       [ngClass]="{'active-link': seccionActiva === 'inicio'}" 
       (click)="fijarActiva('inicio')">Inicio</a>

    <a href="#sobre-nosotros" 
       [ngClass]="{'active-link': seccionActiva === 'sobre-nosotros'}" 
       (click)="fijarActiva('sobre-nosotros')">Sobre la Peluquería</a>

    <a href="#citas" 
       [ngClass]="{'btn-reserva-active': seccionActiva === 'citas', 'btn-reserva-inactive': seccionActiva !== 'citas'}" 
       (click)="fijarActiva('citas')">Pedir Cita</a>
  </div>
</nav>